// custom styling for vue-tabs-component module
.tabs-component {
  // menu-nav
  .tabs-component-tabs {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid $dark-light;

    .tabs-component-tab {
      transition: all .15s ease-in;
      margin: 0;
      padding: 0;
      border: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: $white-text;
      list-style: none;
      background-color: transparent;
      transform: translateY(2px);

      &.is-active {
        transform: translateY(0px);
        background-color: $dark-light;
      }

      .tabs-component-tab-suffix {
        position: absolute;
        top: -8px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding: 0 .1em;
        margin-left: .35em;
        height: 1.25rem;
        min-width: 1.25rem;
        border-radius: 1.25rem;
        font-size: .75rem;
        line-height: 1.25rem;
        color: #fff;
        background-color: #c03;
      }

      .tabs-component-tab-prefix {
        position: absolute;
        left: 8px;
        padding: 0;
        color: #fff;
        background-color: $dark-light;
      }

      a {
        display: flex;
        align-items: center;
        padding: .75em 1em;
        text-decoration: none;
        color: inherit;
        font-size: .85em;
      }

      i {
        margin-right: 8px;
      }
    }
  }

  // menu content
  .tabs-component-panels {
    padding: 8px 8px;
    margin: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: .85em;
    background-color: $dark-light;
  }
}
