#logs {
  z-index: 1;
  flex: 1 1 auto;
  padding: 16px 8px;
  width: $logs-width;

  .log {
    margin: 0 0 8px;
    padding: 0;
    line-height: 1.25;
    font-size: .9em;

    .error {
      font-weight: 700;
      color: #ff8f8f;
    }

    .warning {
      font-weight: 700;
      color: #f5fe9d;
    }

    .success {
      font-weight: 700;
      color: #70fcb8;
    }

    .info {
      font-weight: 700;
      color: #90e2fa;
    }

    .sub {
      font-weight: 700;
      color: #c7c7c7;
    }
  }
}
