#panel {
  z-index: 1;
  width: $tabs-width;
  padding: 16px 8px;

  #panel-stats {
    display: flex;
    justify-content: space-between;

    .panel-stats-names {}

    .panel-stats-values {
      text-align: right;
      font-weight: 700;
    }

    p {
      margin: 0 0 6px;
      line-height: 1.35;

      &:last-child {
        margin: 0;
      }
    }
  }
}
