#panel {
  z-index: 1;
  width: $tabs-width;
  padding: 16px 8px;

  #panel-scripts,
  #panel-stats,
  #panel-servers {
    p {
      margin: 0 0 6px;
      line-height: 1.35;

      &:last-child {
        margin: 0;
      }
    }
  }

  #panel-scripts {
    .panel-scripts-container {
      display: flex;
      justify-content: space-between;

      &:not(:last-child) {
        margin: 0 0 16px;
      }

      .panel-scripts-values {
        text-align: right;
        font-weight: 700;
      }
    }
  }

  #panel-stats {
    display: flex;
    justify-content: space-between;

    .panel-stats-names {}

    .panel-stats-values {
      text-align: right;
      font-weight: 700;
    }
  }

  #panel-servers {
    .panel-servers-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:not(:last-child) {
        margin: 0 0 16px;
      }

      .panel-servers-stats {
        display: flex;
        justify-content: space-between;
      }

      .panel-servers-effects {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
      }

      .panel-servers-values {
        text-align: right;
        font-weight: 700;
      }
    }
  }
}
