/* Elements sizing */
$input-height: 55px;
$logs-width: 60%;
$tabs-width: 40%;

/* Text colors variables */
$white-text: #fff;

/* Various colors variables */
$dark-base: #3b3e44;
$dark-light: #4c5056;
